@import './pallete-orange.scss';

$primary: mat-palette($pallete-orange-primary);
$accent:  mat-palette($pallete-orange-accent);

$candy-app-warn:    mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $candy-app-warn);

@include angular-material-theme($theme);

.color.primary {
  color: mat-color($primary);
}

.color.accent {
  color: mat-color($accent);
}

.bg.primary {
  background-color: mat-color($primary);
}

.bg.accent {
  background-color: mat-color($accent);
}