@import '~@angular/material/theming';
@include mat-core(); 

// define a real custom palette (using http://mcg.mbitson.com)
$pallete-orange-primary: (
  50 : #fdfdfd,
  100 : #fbfbfb,
  200 : #f8f8f8,
  300 : #f5f5f5,
  400 : #f3f3f3,
  500 : #f1f1f1,
  600 : #efefef,
  700 : #ededed,
  800 : #ebebeb,
  900 : #e7e7e7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$pallete-orange-accent: (
  50 : #fcedea,
  100 : #f6d2cb,
  200 : #f1b4a9,
  300 : #eb9586,
  400 : #e67f6c,
  500 : #e26852,
  600 : #df604b,
  700 : #da5541,
  800 : #d64b38,
  900 : #cf3a28,
  A100 : #ffffff,
  A200 : #ffddda,
  A400 : #ffafa7,
  A700 : #ff988d,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);