<mat-accordion>
  <mat-expansion-panel *ngFor="let block of contract.blocks; index as i">
    <mat-expansion-panel-header>
      <mat-panel-title [innerHTML]="block.title"></mat-panel-title>
    </mat-expansion-panel-header>

    <div [innerHTML]="block.description"></div>
  </mat-expansion-panel>
</mat-accordion>

<button
  *ngIf="showSubmitButton"
  mat-raised-button
  color="accent"
  class="btn-accent w-100"
  (click)="handleSubmit.emit()"
>
  Enviar contrato
</button>

<button
  *ngIf="showCloseButton"
  mat-raised-button
  class="w-100 btn-back"
  (click)="goBack.emit()"
>
  Voltar
</button>
