<div class="content">
  <div 
      fxFlex="100"
      class="align-center" 
      fxLayout="column"
      fxLayoutAlign="center center">  
    <div fxLayout="column" fxLayoutAlign="center center">

      <img alt="Logo" src="../../assets/images/mideal-logo-white.png" />

      <span class="first-title color accent">Contratos inteligentes</span>
      <span>simplificados</span>

      <button mat-raised-button color="accent" class="btn-accent">Acesse já</button>
      <a class="text-muted">Registrar</a>
    </div>
  </div>
</div>