.content {
  height: 100vh;
  background-color: #000;
  color: #fff;
}

img {
  max-width: 200px;
}

span {
  font-size: 26px;
  letter-spacing: 0.02rem;
}

button {
  margin-top: 80px;
  padding: 0 30px;
}

a {
  margin-top: 10px;
  color: #6F7584;
  text-decoration: underline;
}

.first-title {
  margin-top: 30px;
}