form {
  margin-top: 10%;
}

.content {
  height: 100vh;
  background-color: #9310ed;
}

.content-login {
  padding: 30px;
}

button {
  border-radius: 0;
  padding: 5px;
}

.login-container {
  height: 100vh;
  background-color: #9310ed;
}