<div class="content">
  <div 
  fxFlex="100"
  class="align-center" 
  fxLayout="column"
  fxLayoutAlign="start center">  
  <div fxLayout="column" fxLayoutAlign="center center" class="box">
      <img alt="Logo" src="../../assets/images/mideal-logo-black.png" />

      <form [formGroup]="form" class="w-100"> 

        <div fxLayout="column">
          <img src="../../assets/images/logomideal.png" />
      
            <mat-form-field appearance="outline" color="primary">
              <mat-label>E-mail</mat-label>
      
              <input formControlName="email" type="text" ngDefaultControl matInput/>
      
              <mat-error>{{getErrorMessage('email')}}</mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="outline" color="primary">
              <mat-label>Senha</mat-label>
      
              <input formControlName="password" type="password" ngDefaultControl matInput/>
      
              <mat-error>{{getErrorMessage('password')}}</mat-error>
            </mat-form-field>
      
        </div>
      
      </form>

      <button mat-raised-button color="accent" class="btn-accent" (click)="handleSubmit()">Acessar</button>
      <a class="text-muted" href="/users">Criar conta</a>
    </div>
  </div>
</div>