:host ::ng-deep html {
    background-color: #3700b3;
  }
form {
  margin-top: 10%;
}

.content {
  padding: 30px;
}

button {
  border-radius: 0;
  padding: 5px;
}

.login-container {
  height: 100vh;
  background-color: #9310ed;
}