/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";

@font-face {
    font-family: 'Gilroy';
    src: url(assets/fonts/Gilroy/Gilroy-Regular.ttf) format("opentype");
}

html {
    font-family: 'Gilroy-Regular', sans-serif;
}

body {
    margin: 0 !important;
}

//botão

button {
    border-radius: 15px 15px 15px 15px !important;
}
.btn-accent {
    background-image: linear-gradient(to right, #CD3641 0%, #E98356 100%) !important;
}



// .btn-grad:hover { background-position: right center; }