$linear-assign-individual: linear-gradient(
  to right,
  #cd3641 0%,
  #e98356 100%
) !important;

.content {
  padding: 20px;
  flex-wrap: wrap;
}

.content.head {
  padding: 20px 70px;
}

mat-card {
  background-color: #f8f8f8;
  margin-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
}

mat-card.selected {
  border: 2px solid #d24944 !important;
}

.selected-signal {
  background: #fff;
  border: 2px solid #d2d2d2;
  color: #d2d2d2;
  padding: 5px 20px;
  border-radius: 5px;
  max-width: 100px;
  margin-top: 5px;
}

.selected-signal.selected {
  background-image: $linear-assign-individual;
  color: white;
  border: none;
}
