<div class="content head">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <img src="../../../assets/images/contract.png" />
    <span class="font-semibold title-h2 pl-2">
      Contratos de Negócios, Vendas e Serviços.
    </span>
  </div>
</div>

<div class="content">
  <div *ngFor="let model of models; index as i">
    <app-contract-card
      [model]="model"
      [selected]="selectedModel === model.id"
      (selectCard)="selectedModel = model.id"
    ></app-contract-card>
  </div>
</div>

<div class="content">
  <button
    mat-raised-button
    class="w-100"
    color="accent"
    [disabled]="!selectedModel"
    [class.btn-accent]="selectedModel"
    (click)="goToContract(selectedModel)"
  >
    PREENCHER
  </button>
</div>
