<mat-card
  matRipple
  class="mat-elevation-z1"
  fxLayout="row"
  fxLayoutAlign="start center"
  [class.selected]="selected"
  (click)="selectModel(contract.id)"
>
  <div>
    <img src="../../../assets/images/icon-contract.png" />
  </div>
  <div class="pl-2">
    <strong [innerHtml]="contract.title"></strong>
    <br />
    <small [innerHtml]="contract.description"></small>
    <div
      *ngIf="!userContract"
      class="selected-signal"
      [class.selected]="selected"
    >
      <small>{{ selected ? "SELECIONADO" : "SELECIONAR" }}</small>
    </div>
  </div>
</mat-card>
